<?xml version="1.0" encoding="UTF-8"?>

<launch>
  <!-- Robot pose -->
  <arg name="x" default="0"/>
  <arg name="y" default="0"/>
  <arg name="z" default="0"/>
  <arg name="roll" default="0"/>
  <arg name="pitch" default="0"/>
  <arg name="yaw" default="0"/>

  <!-- Launch other relevant files-->
  <include file="$(find queenie)/src/launch/robot_description.launch"/>

  <!-- World File -->
  <arg name="world_file" default="$(find queenie)/src/worlds/simple_cube.world"/>


  
  <!--launch rviz-->
  <node name="rviz" pkg="rviz" type="rviz" respawn="false"
        args="-d $(find queenie)/default.rviz"/>

</launch>