<?xml version="1.0" encoding="UTF-8"?>

<launch>

  <!-- Gazebo model path -->
  <env name="GAZEBO_MODEL_PATH" value="$(find queenie)/src/models"/>
  <!-- Robot pose -->
  <arg name="x" default="0"/>
  <arg name="y" default="0"/>
  <arg name="z" default="0"/>
  <arg name="roll" default="0"/>
  <arg name="pitch" default="0"/>
  <arg name="yaw" default="0"/>
  <arg name="extra_gazebo_args" default="--verbose"/>

  <!-- Launch other relevant files-->
  <include file="$(find queenie)/src/launch/robot_description.launch"/>

  <!-- World File -->
  <arg name="world_file" default="$(find queenie)/src/worlds/simple_cube.world"/>
  <!-- <arg name="world_file" default="$(find gazebo_ros)/launch/empty_world.launch"/> -->
  <!-- Launch Gazebo World -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
  <!-- <include file="$(find queenie)/src/worlds/simple_cube.world">  -->
    <arg name="use_sim_time" value="true"/>
    <arg name="debug" value="false"/>
    <arg name="gui" value="true" />
    <arg name="world_name" value="$(arg world_file)"/>
    <arg name="paused" value="false"/>
    <arg name="extra_gazebo_args" value="$(arg extra_gazebo_args)"/>
  </include>
  <!-- Find my robot Description-->
  <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find queenie)/src/urdf/queenie.xacro'"/>

  <!-- Spawn My Robot -->
  <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" 
        args="-urdf -param robot_description -model queenie 
              -x $(arg x) -y $(arg y) -z $(arg z)
              -R $(arg roll) -P $(arg pitch) -Y $(arg yaw)"/>
<!--  <node name="coboid_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"-->
<!--        args="-urdf -param large_cuboid_description -model large_cuboid_1-->
<!--              -x 1.5 -y -1.5 -z 0.5"/>-->
  
  <rosparam command="load"
            file="$(find queenie)/src/config/joints.yaml" />
  <rosparam command="load"
            file="$(find queenie)/src/config/gripper.yaml"/>

<!--  <node name="controller_spawner" pkg="controller_manager" type="spawner" ns="queenie"-->
<!--    args="joint_state_controller-->
<!--          gripper_controller"-->
<!--          />-->

  <node name="rqt_robot_steering" pkg="rqt_robot_steering" type="rqt_robot_steering">
    <param name="default_topic" value="/cmd_vel"/>
  </node>
  
  <!--launch rviz-->
  <!-- <node name="rviz" pkg="rviz" type="rviz" respawn="false"
        args="-d $(find queenie)/default.rviz"/> -->

</launch>